@model Information
@{
    ViewData["Title"] = "Update";
}

<div class="main-panel">
    <div class="create">
        <h2>Update Information</h2>
        <form method="post">
            <label for="">Return Request:</label> <br>
            <input asp-for="ReturnRequest" placeholder="Return Request"><br>
            <span class="text-danger" asp-validation-for="ReturnRequest"></span> <br />
            <label for="">Guarantee:</label> <br>
            <input asp-for="Guarantee" placeholder="Guarantee"><br>
            <span class="text-danger" asp-validation-for="Guarantee"></span> <br />
            <label for="">Shipping:</label> <br>
            <input asp-for="Shipping" placeholder="Shipping"><br>
            <span class="text-danger" asp-validation-for="Shipping"></span> <br />
            <button type="submit">Update</button>
        </form>
    </div>
</div>

